* {
    padding: 0;
    margin: 0;
}

button {
    margin-right: 20px;
    margin-top: 10px;
    padding: 15px 35px;
    border-color: blu;
    background-color: green;
    color: white;
}

div {
text-align: center;
margin-top: 50px;
}